Repository 2lambda123/AzureAD-microsoft-authentication-library-for-js, changes with the labels that .github/labeler.yml gives for each.
All labels: node, angular, angularjs, msal@1.x, msal-common, msal-browser, samples

.github/labeler.yml:

node:
  - lib/msal-node/**/*
angular:
  - lib/msal-angular/**/*
angularjs:
  - lib/msal-angularjs/**/*
msal@1.x:
  - lib/msal-core/**/*
msal-common:
  - lib/msal-common/**/*
msal-browser:
  - lib/msal-browser/**/*
samples:
  - samples/**/*

Restyled by clang-format
  samples/e2eTestUtils/jest-puppeteer-utils/puppeteer_environment.js
Labels: samples

Restyled by prettier
  samples/e2eTestUtils/jest-puppeteer-utils/puppeteer_environment.js
Labels: samples

add msal-node client-credential Regression Test (benchmarkjs) benchmark result for 64655c3055f90cbef96c0243a226462464a606bf
  dev/bench/data.js
Labels: none

add msal-node client-credential Regression Test (benchmarkjs) benchmark result for 392b40cfa5bae315b4ff85fa92cace90f4b69368
  dev/bench/data.js
Labels: none

add msal-node client-credential Regression Test (benchmarkjs) benchmark result for 1f925d5c128bf3de38f1a8a2be695a7e0ac2f473
  dev/bench/data.js
Labels: none

add msal-node client-credential Regression Test (benchmarkjs) benchmark result for 837d0e09a6e70b5b520bd92b7f7c71a8fd3cb9fc
  dev/bench/data.js
Labels: none

[ImgBot] Optimize images
  docs/diagrams/png/PackageStructure.png
  docs/images/beachball-changemessage.png
  docs/images/beachball-changetype.png
  extensions/docs/diagrams/png/msal-node-extensions-persistence-cache-plugin.png
  extensions/docs/diagrams/png/msal-node-extensions-persistence.png
  lib/msal-browser/docs/images/BrowserLogEnablement.png
  lib/msal-browser/docs/images/clientTypeRegistrationUpdate.png
  lib/msal-browser/docs/images/msaljs-boot-flow.png
  lib/msal-browser/docs/images/redirectURIRegistrationUpdate.png
  lib/msal-common/docs/diagrams/png/msal-common-uml.png
  samples/msal-browser-samples/OfficeAddin/assets/icon-128.png
  samples/msal-browser-samples/OfficeAddin/assets/icon-16.png
  samples/msal-browser-samples/OfficeAddin/assets/icon-32.png
  samples/msal-browser-samples/OfficeAddin/assets/icon-64.png
  samples/msal-browser-samples/OfficeAddin/assets/icon-80.png
  samples/msal-browser-samples/OfficeAddin/assets/logo-filled.png
  samples/msal-browser-samples/vue3-sample-app/src/assets/logo.png
  samples/msal-node-samples/ElectronSystemBrowserTestApp/ReadmeFiles/Screenshot-Sign-in.png
  samples/msal-node-samples/ElectronSystemBrowserTestApp/ReadmeFiles/Screenshot-browser.png
  samples/msal-node-samples/ElectronSystemBrowserTestApp/ReadmeFiles/Screenshot-profile.png
  samples/msal-react-samples/nextjs-sample/public/vercel.svg
Labels: msal-common, msal-browser, samples

Bump package versions
  change/@azure-msal-browser-fb04ad0b-d40c-4ba6-9624-c149992139a0.json
  change/@azure-msal-common-8a8d0399-ce75-4c96-8610-51235fc88f04.json
  extensions/msal-node-extensions/CHANGELOG.json
  extensions/msal-node-extensions/package.json
  lib/msal-angular/CHANGELOG.json
  lib/msal-angular/package.json
  lib/msal-browser/CHANGELOG.json
  lib/msal-browser/CHANGELOG.md
  lib/msal-browser/package.json
  lib/msal-browser/src/packageMetadata.ts
  lib/msal-common/CHANGELOG.json
  lib/msal-common/CHANGELOG.md
  lib/msal-common/package.json
  lib/msal-common/src/packageMetadata.ts
  lib/msal-node/CHANGELOG.json
  lib/msal-node/package.json
  lib/msal-react/CHANGELOG.json
  lib/msal-react/package.json
  package-lock.json
Labels: node, angular, msal-common, msal-browser

add msal-node client-credential Regression Test (benchmarkjs) benchmark result for 3a9aab78857736776b74b57f8985220eae1e93c9
  dev/bench/data.js
Labels: none
