Repository 2lambda123/AzureAD-microsoft-authentication-library-for-js, changes with the owners that CODEOWNERS names for each.
All owners: @jasonnutter, @tnorling, @sameerag, @jo-arroyo, @hectormmg, @bmahall, @peterzenz, @jennyf19, @jmprieur

Restyled by clang-format
  samples/e2eTestUtils/jest-puppeteer-utils/puppeteer_environment.js
Owners: @jasonnutter, @tnorling, @sameerag, @jo-arroyo, @hectormmg, @bmahall, @peterzenz

Restyled by prettier
  samples/e2eTestUtils/jest-puppeteer-utils/puppeteer_environment.js
Owners: @jasonnutter, @tnorling, @sameerag, @jo-arroyo, @hectormmg, @bmahall, @peterzenz

add msal-node client-credential Regression Test (benchmarkjs) benchmark result for 64655c3055f90cbef96c0243a226462464a606bf
  dev/bench/data.js
Owners: @jasonnutter, @tnorling, @sameerag, @jo-arroyo, @hectormmg, @bmahall, @peterzenz

add msal-node client-credential Regression Test (benchmarkjs) benchmark result for 392b40cfa5bae315b4ff85fa92cace90f4b69368
  dev/bench/data.js
Owners: @jasonnutter, @tnorling, @sameerag, @jo-arroyo, @hectormmg, @bmahall, @peterzenz

add msal-node client-credential Regression Test (benchmarkjs) benchmark result for 1f925d5c128bf3de38f1a8a2be695a7e0ac2f473
  dev/bench/data.js
Owners: @jasonnutter, @tnorling, @sameerag, @jo-arroyo, @hectormmg, @bmahall, @peterzenz

add msal-node client-credential Regression Test (benchmarkjs) benchmark result for 837d0e09a6e70b5b520bd92b7f7c71a8fd3cb9fc
  dev/bench/data.js
Owners: @jasonnutter, @tnorling, @sameerag, @jo-arroyo, @hectormmg, @bmahall, @peterzenz

[ImgBot] Optimize images
  docs/diagrams/png/PackageStructure.png
  docs/images/beachball-changemessage.png
  docs/images/beachball-changetype.png
  extensions/docs/diagrams/png/msal-node-extensions-persistence-cache-plugin.png
  extensions/docs/diagrams/png/msal-node-extensions-persistence.png
  lib/msal-browser/docs/images/BrowserLogEnablement.png
  lib/msal-browser/docs/images/clientTypeRegistrationUpdate.png
  lib/msal-browser/docs/images/msaljs-boot-flow.png
  lib/msal-browser/docs/images/redirectURIRegistrationUpdate.png
  lib/msal-common/docs/diagrams/png/msal-common-uml.png
  samples/msal-browser-samples/OfficeAddin/assets/icon-128.png
  samples/msal-browser-samples/OfficeAddin/assets/icon-16.png
  samples/msal-browser-samples/OfficeAddin/assets/icon-32.png
  samples/msal-browser-samples/OfficeAddin/assets/icon-64.png
  samples/msal-browser-samples/OfficeAddin/assets/icon-80.png
  samples/msal-browser-samples/OfficeAddin/assets/logo-filled.png
  samples/msal-browser-samples/vue3-sample-app/src/assets/logo.png
  samples/msal-node-samples/ElectronSystemBrowserTestApp/ReadmeFiles/Screenshot-Sign-in.png
  samples/msal-node-samples/ElectronSystemBrowserTestApp/ReadmeFiles/Screenshot-browser.png
  samples/msal-node-samples/ElectronSystemBrowserTestApp/ReadmeFiles/Screenshot-profile.png
  samples/msal-react-samples/nextjs-sample/public/vercel.svg
Owners: @jasonnutter, @tnorling, @sameerag, @jo-arroyo, @hectormmg, @bmahall, @peterzenz, @jennyf19, @jmprieur

Bump package versions
  change/@azure-msal-browser-fb04ad0b-d40c-4ba6-9624-c149992139a0.json
  change/@azure-msal-common-8a8d0399-ce75-4c96-8610-51235fc88f04.json
  extensions/msal-node-extensions/CHANGELOG.json
  extensions/msal-node-extensions/package.json
  lib/msal-angular/CHANGELOG.json
  lib/msal-angular/package.json
  lib/msal-browser/CHANGELOG.json
  lib/msal-browser/CHANGELOG.md
  lib/msal-browser/package.json
  lib/msal-browser/src/packageMetadata.ts
  lib/msal-common/CHANGELOG.json
  lib/msal-common/CHANGELOG.md
  lib/msal-common/package.json
  lib/msal-common/src/packageMetadata.ts
  lib/msal-node/CHANGELOG.json
  lib/msal-node/package.json
  lib/msal-react/CHANGELOG.json
  lib/msal-react/package.json
  package-lock.json
Owners: @sameerag, @hectormmg, @bmahall, @peterzenz, @jennyf19, @jmprieur, @jasonnutter, @jo-arroyo, @tnorling

add msal-node client-credential Regression Test (benchmarkjs) benchmark result for 3a9aab78857736776b74b57f8985220eae1e93c9
  dev/bench/data.js
Owners: @jasonnutter, @tnorling, @sameerag, @jo-arroyo, @hectormmg, @bmahall, @peterzenz

CODEOWNERS:

* @jasonnutter @tnorling @sameerag @jo-arroyo @hectormmg @bmahall @peterzenz

# MSAL Angular
/lib/msal-angular/ @jasonnutter @jo-arroyo @tnorling @peterzenz
/maintenance/msal-angularjs/ @jasonnutter @jo-arroyo @tnorling @peterzenz
/samples/msal-angular-samples/ @jasonnutter @jo-arroyo @tnorling @peterzenz
/samples/msal-angular-v2-samples/ @jasonnutter @jo-arroyo @tnorling @peterzenz
/samples/msal-angularjs-samples/ @jasonnutter @jo-arroyo @tnorling @peterzenz

# MSAL Browser
/lib/msal-browser/ @jasonnutter @tnorling @peterzenz
/samples/msal-browser-samples/ @jasonnutter @tnorling @peterzenz

# MSAL Common
/lib/msal-common/ @sameerag @tnorling @peterzenz

# MSAL Core
/lib/msal-core/ @jasonnutter @sameerag @tnorling @peterzenz
/samples/msal-core-samples/ @jasonnutter @sameerag @tnorling @peterzenz

# MSAL Node
/lib/msal-node/ @sameerag @hectormmg @bmahall @peterzenz @jennyf19 @jmprieur
/samples/msal-node-samples/ @sameerag @hectormmg @bmahall @peterzenz @jennyf19 @jmprieur
/extensions/msal-node-extensions/ @sameerag @hectormmg @bmahall @peterzenz @jennyf19 @jmprieur

# ADAL Node
/maintenance/adal-node @sameerag @peterzenz

# Passport Azure Ad
/maintenance/passport-azure-ad @jennyf19 @jmprieur

# MSAL React
/lib/msal-react/ @tnorling @jasonnutter @jo-arroyo @peterzenz
/samples/msal-react-samples/ @tnorling @jasonnutter @jo-arroyo @peterzenz

# Node Token Validation
/lib/node-token-validation @jennyf19 @jmprieur
/samples/node-token-validation @jennyf19 @jmprieur

## ADAL.js
/maintenance/adal-angular @jasonnutter @sameerag @peterzenz

# Build
/build/ @jasonnutter @tnorling @bmahall @peterzenz
/release-scripts/ @jasonnutter @tnorling @bmahall @peterzenz
/.github/ @jasonnutter @tnorling @bmahall @peterzenz

# Filepaths to ignore
/change/
